<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>DMS-数据管理系统</title>
<script type="text/javascript" src="/promise-polyfill.js"></script>

<link href="/pre/static/css/app.123d2a8f8613eafdcdba35801af97934.css" rel="stylesheet"></head>
<body>
	<div id="app"></div>
	<!-- built files will be auto injected -->
	
<script type="text/javascript" src="/pre/static/js/manifest.36adc4d91c2d74418e85.js"></script><script type="text/javascript" src="/pre/static/js/vendor.9583f7ede3a88f5637fb.js"></script><script type="text/javascript" src="/pre/static/js/app.0a0cd58106242e2741cf.js"></script></body>
</html>