<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<title>AMS-广告管理系统</title>
<script type="text/javascript" src="/promise-polyfill.js"></script>
<script type="text/javascript">
	var $CONFIG = {
		domain: "http://ams.dev.gomeplus.com",
	};
</script>
<link href="/dev/static/css/app.3af07c1c8f805271e664ba7391fe908f.css" rel="stylesheet"></head>
<script>
	window.onload=function(){

	}
</script>
<body>
	<div id="app"></div>
	<!-- built files will be auto injected -->

<script type="text/javascript" src="/dev/static/js/manifest.9a11602e6c08836d7709.js"></script><script type="text/javascript" src="/dev/static/js/vendor.f29fd06742c04b28b058.js"></script><script type="text/javascript" src="/dev/static/js/app.62018f5a02ebf45c5708.js"></script></body>
</html>
