.amp-originality .ele-input-01 {
  width: 260px !important; }
.amp-originality .ele-select {
  width: 200px !important; }
.amp-originality .fn-plan {
  margin-right: 20px; }
.amp-originality .table-list {
  min-width: 1750px; }
  .amp-originality .table-list span.span-col-1 {
    width: 228px; }
  .amp-originality .table-list span.span-col-2 {
    width: 210px; }
  .amp-originality .table-list span.span-col-3 {
    width: 210px; }
    .amp-originality .table-list span.span-col-3 img {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      width: 90px;
      height: 50px;
      border: 1px solid #d9dbde; }
  .amp-originality .table-list span.span-col-4 {
    width: 160px; }
  .amp-originality .table-list span.span-col-5 {
    width: 195px; }
  .amp-originality .table-list span.span-col-6 {
    width: 162px; }
  .amp-originality .table-list span.span-col-7 {
    width: 300px; }
  .amp-originality .table-list span.span-col-8 {
    width: 153px; }
  .amp-originality .table-list span.span-col-9 {
    width: 100px; }


