<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>DMS-数据管理系统</title>
<script type="text/javascript" src="/promise-polyfill.js"></script>

<link href="/pro/static/css/app.c523f14b4fcc781a708df6ea670cec15.css" rel="stylesheet"></head>
<body>
	<div id="app"></div>
	<!-- built files will be auto injected -->
	
<script type="text/javascript" src="/pro/static/js/manifest.76396892b83108ebe93c.js"></script><script type="text/javascript" src="/pro/static/js/vendor.cd75dc3fea0c16f6302c.js"></script><script type="text/javascript" src="/pro/static/js/app.3f88180c9e63d63ac236.js"></script></body>
</html>