<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<title>AMS-广告管理系统</title>
<script type="text/javascript" src="/promise-polyfill.js"></script>
<script type="text/javascript">
	var $CONFIG = {
		domain: "http://ams.gomeplus.com",
	};
</script>
<link href="/pro/static/css/app.38966dc0a7cb38716c9699a81c93e53b.css" rel="stylesheet"></head>
<script>
	window.onload=function(){

	}
</script>
<body>
	<div id="app"></div>
	<!-- built files will be auto injected -->

<script type="text/javascript" src="/pro/static/js/manifest.be0f8bad4ed07a278c15.js"></script><script type="text/javascript" src="/pro/static/js/vendor.069973a69038ea17592b.js"></script><script type="text/javascript" src="/pro/static/js/app.8912497641f1e788a4d6.js"></script></body>
</html>
