.amp-remain .group-detail {
  margin: 0px 32px; }
.amp-remain .ele-input {
  width: 222px;
  margin-right: 10px; }
.amp-remain .main-wrap {
  padding-bottom: 11px; }
.amp-remain .main-wrap02 .row-check {
  width: 100px;
  margin-right: 10px; }
.amp-remain .amp-path-bd {
  border-top: 1px solid #f0f3f6; }
.amp-remain .submit-wrap {
  padding: 10px 0px 33px 190px; }


