.amp-unit .table-list {
  min-width: 1750px; }
  .amp-unit .table-list span.span-col-1 {
    width: 188px; }
  .amp-unit .table-list span.span-col-2 {
    width: 172px; }
  .amp-unit .table-list span.span-col-3 {
    width: 188px; }
  .amp-unit .table-list span.span-col-4 {
    width: 120px; }
  .amp-unit .table-list span.span-col-5 {
    width: 125px; }
  .amp-unit .table-list span.span-col-6 {
    width: 132px; }
  .amp-unit .table-list span.span-col-7 {
    width: 142px; }
  .amp-unit .table-list span.span-col-8 {
    width: 133px; }
  .amp-unit .table-list span.span-col-9 {
    width: 137px; }
  .amp-unit .table-list span.span-col-10 {
    width: 135px; }
  .amp-unit .table-list span.span-col-11 {
    width: 200px; }
.amp-unit .set-fn-new {
  min-width: 1100px; }
  .amp-unit .set-fn-new .ele-select {
    width: 113px !important; }
  .amp-unit .set-fn-new .ele-select {
    width: 115px !important; }
  .amp-unit .set-fn-new .fn-search .btn-primary {
    padding: 0px 21px !important; }


